head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Main page
  link(href='/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
  link(href='/public/css/index.css' rel='stylesheet')
main.container(role='main')
  h1.mt-5 Main page
  if user
    p.lead
      | Hello, #{user.displayName}! You can start use API in your browser
    p
      | Use this 
      a(href='/restaurants') link
      |  for getting data about restaurants.
    p
      | Use this 
      a(href='/users') link
      |  for getting data about users.
    p.lead
      | Also, You can logout from here 
      a(href='/logout') logout
  else
    p.lead
      | Dear user! You need to authorize
    p
      | Follow to 
      a(href='/login') Login page
      |  if need to be signed.
    
  
footer.footer
  .container
    span.text-muted Thank you for being with us.
