head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='Signin form')
  title Please Sign in
  link(href='/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
  link(href='/public/css/signin.css' rel='stylesheet')
form.form-signin(action='/login' method='POST')
  h1.h3.mb-3.font-weight-normal Please sign in
  label.sr-only(for='inputEmail') Login
  input#inputEmail.form-control(name='id' type='text' placeholder='Login' required='' autofocus='')
  label.sr-only(for='inputPassword') Password
  input#inputPassword.form-control(name='password' type='password' placeholder='Password' required='')
  button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
  if loginMessage.length
    .alert.alert-warning.alert-dismissible.fade.show(role='alert')
      strong Something wrong!
      |  #{loginMessage}
