{
    "presets": [
        "env",
        "es2015",
        "stage-2",
        "react"
    ],
    "plugins": [
        [
            "transform-regenerator",
            {
                "asyncGenerators": true,
                "generators": true,
                "async": true
            }
        ]
    ]
}